# virtual environment and installation requirements
# to install required packages, run this: 
# pip install -r requirements.txt
qenv/
requirements.txt

# keys
secure.py
secure.py~

# stuff from Mac OS
.DS_Store
.gitignore~
*~

# from Python
__pycache__/
*.pyc

templates/_base_old.html