
<div class="col-lg-6">
  <h3 style="color:blue">Using jinja2, we can write loops inside HTML.
    With a little practice, you will get used to this.</h3>


    
      
    <br><br>
    Even knowing only a few pieces of jinja2 syntax will enable you to build a very interesting app.
    <br><br>
    Here is a jinja2 sample.  Open the demo.html file (and look at lines 14-19) to see how it works.
    <br><br>
    DEMO CODE IS LIVE! The demo user is working on  <strong>{{ list_name }}</strong>.
            <br><br>
            The user needs to study:
            {% for item in needs_work %}
            {{item}}
            {% endfor %}
            
    <br>
    <br>



</div>

